#root {
  width: 95%;
  height: 400px;
  margin: 0 auto;
  padding: 5px;

  
}

.header{
  width: 100%;
  height: 3em;
  
}

.sitename{
  width: 10%;
  height: fit-content;
  float: left;
  font-size: x-large;
  padding: 0.7% 0% 1% 12%;
 

}

.page{
  width: 5%;
  height: fit-content; 
  float: left;  
  margin-bottom: 1%;
}

.cart{
  width: 20%;
  height: fit-content;
  float: right;
  padding: 0.1% 0% 0% 30%;
  border-width: 10 px;
  border-color: black;
  border-radius: 5 px; 
}

.homeimage{

  width: 100%;
  height: 300px;
  background-color: black;
}
.card{
  width:19%;
  height: 320px;
  background-color: rgb(223, 10, 10);
  margin: 3% 2% 3% 2%;
  float: left;
  border-radius: 5px;
}

.product{
  width: 95%;
  height: 400px;
  float: left;
  margin: 5% 7% 5% 7%;
  
}

.img{
  width:100%;
  height:150px;
  background-color: black;
}