.head{
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);

}
.header{
  float: left;
  width:r 30%;
  height: fit-content;
  padding-left: 10%;
  padding-top: 0%;
  color: black;
  font-size:xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home{
  width: 10%;
  float: left;
  padding-left: 4%;
  padding-top: 1%;
}

.about{
  width: 20%;
  float: left;
  padding-left: 0%;
  padding-top: 1%;
}